    <div
      class="py-20"
      style="background: linear-gradient(90deg, #5d1499 0%,  #098585 100%)"
    >
      <div class="container mx-auto px-6">
        <h2 class="text-6xl font-mono mb-2 text-green-400">
          LockDown Pub Quiz
        </h2>
        <h3 class="text-4xl mb-8 text-black">
          Can't get out during lockdown? Have fun online!
        </h3>
        <button
          class="bg-white text-2xl text-gray-800 font-mono rounded-full py-4 px-8 shadow-lg uppercase tracking-wider outline-none hover:bg-green-500 hover:text-white" (click)="register()" >
          Register
        </button>
      </div>
    </div>
    <!-- Features -->
    <section class="container mx-auto px-6 p-10">
      
    </section>
    <!--Call to Action-->
    <section style="background:linear-gradient(90deg, #14072e 0%,  #098585 100%)">
      <div class="container mx-auto px-6 text-center py-20">
        <h2 class="mb-6 text-4xl font-bold text-center text-white">
          Coming Soon
        </h2>
        <h3 class="my-4 text-2xl text-white">
         Order one of our t-shirts to help fund our support services!
        </h3>
        <!-- <button
          class="bg-white font-bold rounded-full mt-6 py-4 px-8 shadow-lg uppercase tracking-wider">
          Order
        </button> -->
      </div>
    </section>
    <!-- Testimonials -->
    <section class="bg-gray-100">
      <div class="container mx-auto px-6 py-20">
        <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
          High Scores
        </h2>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/3 px-2 mb-4">
            <div class="bg-white rounded shadow py-2">
              <p class="text-gray-800 text-base px-6 mb-5">
                
              </p>
              <p class="text-gray-500 text-xs md:text-sm px-6">
              
              </p>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4">
            <div class="bg-white rounded shadow py-2">
              <p class="text-gray-800 text-base px-6 mb-5">
                
              </p>
              <p class="text-gray-500 text-xs md:text-sm px-6">
                
              </p>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4">
            <div class="bg-white rounded shadow py-2">
              <p class="text-gray-800 text-base px-6 mb-5">
                
              </p>
              <p class="text-gray-500 text-xs md:text-sm px-6">
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    